body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#tittle {
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

h1 {
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

a{
    color: white;
}

a:hover{
    color: rgb(8, 128, 184);
    transition: 0.3s all;
}

h2{
    font-size: 55px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(8, 128, 184);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 570px;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(8, 128, 184);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

#enviar-btn {
    border: 2px solid;
    padding: 10px;
}

#enviar-btn:hover {
    background-color: rgb(10, 163, 235);
}
    





